@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    margin: 0;
    font-family: "'Segoe UI', Tahoma, system-ui, sans-serif";
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    padding: 20px 120px 60px 80px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container .text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.top-section ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.top-section a, .container .text p {
    text-decoration: none;
    font-size: 18px;
    font-weight: initial;
    color: #E5E7EB
}

.header .container {
    display: flex;
    justify-content: space-between
}

.header .container .text {
    max-width: 500px;
}

.header .container #image {
    width: 480px;
    height: 270px;
    background-color: #fff9;
}

.display .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-array {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.image-array .media  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
    text-align: center;
}

.image-array .media .image-here {
    width: 100%;
    height: 200px;
    border: 2px double midnightblue;
    border-radius: 15px
}

.quote-area {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
}

.quote-area p {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 100px;
    font-style: italic;
}

.quote-area span {
    text-align: right;
    font-weight: bold;
    color: #000;
    font-style: normal;
    font-size: 24px;
}

.action-area {
    background-color: #3882F6;
    max-width: 800px;
    margin: 100px auto;
    padding: 50px 120px;
    border-radius: 15px;
    display: flex;
    color: #FAF9F8;
}

.action-area .words {
    font-size: 20px;
    font-weight: bold;
}

.action-area .words span {
    font-size: 16px;
    font-weight: initial;
}

.action-area button {
    margin-left: auto;
    background-color: #3882F6;
    border: solid #F9FAF8 2px;
    border-radius: 4px;
    padding: 0 28px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #F9FAF8;
    font-size: 18px;
}